/*#########################################################
    FONTS
#########################################################*/

@font-face {
    font-family: 'SBB Web Bold';
    src: url('../assets/fonts/SBBWeb-Bold/SBBWeb-Bold.woff2') format('woff2'),
    url('../assets/fonts/SBBWeb-Bold/SBBWeb-Bold.woff') format('woff');
}

@font-face {
    font-family: 'SBB Web Light';
    src: url('../assets/fonts/SBBWeb-Light/SBBWeb-Light.woff2') format('woff2'),
    url('../assets/fonts/SBBWeb-Light/SBBWeb-Light.woff') format('woff');
}

@font-face {
    font-family: 'SBB Web Roman';
    src: url('../assets/fonts/SBBWeb-Roman/SBBWeb-Roman.woff2') format('woff2'),
    url('../assets/fonts/SBBWeb-Roman/SBBWeb-Roman.woff') format('woff');
}

@font-face {
    font-family: 'SBB Web Thin';
    src: url('../assets/fonts/SBBWeb-Thin/SBBWeb-Thin.woff2') format('woff2'),
    url('../assets/fonts/SBBWeb-Thin/SBBWeb-Thin.woff') format('woff');
}

@font-face {
    font-family: 'SBB Web Ultralight';
    src: url('../assets/fonts/SBBWeb-UltraLight/SBBWeb-UltraLight.woff2') format('woff2'),
    url('../assets/fonts/SBBWeb-UltraLight/SBBWeb-UltraLight.woff') format('woff');
}



/*#########################################################
    VARIABLES
#########################################################*/

:root {
    --sbb-red: #EB0000;
    --sbb-dark: #222222;
    --sbb-light: #FFFFFF;
}



/*#########################################################
    TAGS
#########################################################*/

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: "SBB Web Roman", sans-serif;
    color: var(--sbb-dark);
}

/* Headers */
h1, h2 {
    color: var(--sbb-dark);
    text-align: center;
}

h1 {
    font-family: "SBB Web Bold", sans-serif;
    font-size: 25px;
}

h2 {
    font-family: "SBB Web Light", sans-serif;
    font-size: 23px;
}



/*#########################################################
    CLASSES
#########################################################*/

/* Leaflet Map */
#map {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Sidebar */
#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 350px;
    height: 100%;
    padding: 10px;
    background-color: var(--sbb-light);
    border-right: 5px solid var(--sbb-dark);
    color: var(--sbb-dark);
    z-index: 10;
}

#sidebar .logo {
    width: 100%;
    cursor: pointer;
}

#sidebar .logo img {
    display: block;
    width: 60%;
    margin: 10px auto 20px auto;
}



/*#########################################################
    MEDIA QUERIES
#########################################################*/

