/*#########################################################
    FONTS
#########################################################*/

@font-face {
    font-family: 'SBB Web Bold';
    src: url('../assets/fonts/SBBWeb-Bold/SBBWeb-Bold.woff2') format('woff2'),
    url('../assets/fonts/SBBWeb-Bold/SBBWeb-Bold.woff') format('woff');
}

@font-face {
    font-family: 'SBB Web Light';
    src: url('../assets/fonts/SBBWeb-Light/SBBWeb-Light.woff2') format('woff2'),
    url('../assets/fonts/SBBWeb-Light/SBBWeb-Light.woff') format('woff');
}

@font-face {
    font-family: 'SBB Web Roman';
    src: url('../assets/fonts/SBBWeb-Roman/SBBWeb-Roman.woff2') format('woff2'),
    url('../assets/fonts/SBBWeb-Roman/SBBWeb-Roman.woff') format('woff');
}

@font-face {
    font-family: 'SBB Web Thin';
    src: url('../assets/fonts/SBBWeb-Thin/SBBWeb-Thin.woff2') format('woff2'),
    url('../assets/fonts/SBBWeb-Thin/SBBWeb-Thin.woff') format('woff');
}

@font-face {
    font-family: 'SBB Web Ultralight';
    src: url('../assets/fonts/SBBWeb-UltraLight/SBBWeb-UltraLight.woff2') format('woff2'),
    url('../assets/fonts/SBBWeb-UltraLight/SBBWeb-UltraLight.woff') format('woff');
}



html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

#map {
    width: 100%;
    height: 90%;
}