/*#########################################################
    FONTS
#########################################################*/

@font-face {
    font-family: 'SBB Web Bold';
    src: url('../assets/fonts/SBBWeb-Bold/SBBWeb-Bold.woff2') format('woff2'),
    url('../assets/fonts/SBBWeb-Bold/SBBWeb-Bold.woff') format('woff');
}

@font-face {
    font-family: 'SBB Web Light';
    src: url('../assets/fonts/SBBWeb-Light/SBBWeb-Light.woff2') format('woff2'),
    url('../assets/fonts/SBBWeb-Light/SBBWeb-Light.woff') format('woff');
}

@font-face {
    font-family: 'SBB Web Roman';
    src: url('../assets/fonts/SBBWeb-Roman/SBBWeb-Roman.woff2') format('woff2'),
    url('../assets/fonts/SBBWeb-Roman/SBBWeb-Roman.woff') format('woff');
}

@font-face {
    font-family: 'SBB Web Thin';
    src: url('../assets/fonts/SBBWeb-Thin/SBBWeb-Thin.woff2') format('woff2'),
    url('../assets/fonts/SBBWeb-Thin/SBBWeb-Thin.woff') format('woff');
}

@font-face {
    font-family: 'SBB Web Ultralight';
    src: url('../assets/fonts/SBBWeb-UltraLight/SBBWeb-UltraLight.woff2') format('woff2'),
    url('../assets/fonts/SBBWeb-UltraLight/SBBWeb-UltraLight.woff') format('woff');
}



/*#########################################################
    VARIABLES
#########################################################*/

:root {
    --sbb-red: #EB0000;
    --sbb-dark: #222222;
    --sbb-light: #FFFFFF;

    --sbb-red-hov: #AF0000;
    --sbb-dark-hov: #474747;
    --sbb-light-hov: #e4e4e4;
}



/*#########################################################
    TAGS
#########################################################*/

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: "SBB Web Roman", sans-serif;
    color: var(--sbb-dark);
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

/*
 *  Headers
 */
h1, h2 {
    color: var(--sbb-dark);
    text-align: center;
}

h1 {
    font-family: "SBB Web Bold", sans-serif;
    font-size: 25px;
}

h2 {
    font-family: "SBB Web Light", sans-serif;
    font-size: 23px;
}

h3 {
    margin: 35px 0 5px 0;
    padding: 5px 10px;
    background-color: var(--sbb-dark);
    color: var(--sbb-light);
    font-family: "SBB Web Light", sans-serif;
    font-size: 23px;
}

h4 {
    margin: 7px 0;
    color: var(--sbb-red);
    font-family: "SBB Web Roman", sans-serif;
    font-size: 19px;
    cursor: pointer;
}

/*
 *  Forms
 */
input, button {
    font-family: "SBB Web Roman", sans-serif;
}

/* Text input fields */
input {
    width: 100%;
    margin: 10px 0;
    padding: 7px;
    border: 2px solid var(--sbb-dark);
}

/* Buttons */
button {
    margin: 5px 10px 10px 0;
    padding: 6px 10px;
    border: 0 solid var(--sbb-dark);
}

button:hover {
    background-color: var(--sbb-light-hov);
}

button.red {
    background-color: var(--sbb-red);
    color: var(--sbb-light);
}

button.red:hover {
    background-color: var(--sbb-red-hov);
}

/* Range Sliders */
.slider input {
    height: 30px;
    margin: 0;
    padding: 0;
    background-color: var(--sbb-light-hov);
    cursor: pointer;
    -webkit-appearance: none;
}

.slider input::-webkit-slider-thumb {
    width: 15px;
    height: 26px;
    background: var(--sbb-red);
    -webkit-appearance: none;
}

.slider input::-moz-range-thumb {
    width: 15px;
    height: 26px;
    background: var(--sbb-red);
    border: 0 solid #000;
    border-radius: 0;
}



/*#########################################################
    CLASSES
#########################################################*/

/*
 *  Leaflet Map
 */
#map {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*
 *  Leaflet Map - Control Panel
 */
.controlPanel {
    position: fixed;
    top: 5px;
    right: 5px;
}

.controlPanel ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.controlPanel li {
    width: 45px;
    height: 45px;
    margin-top: 5px;
    background-color: var(--sbb-dark);
    cursor: pointer;
}

.controlPanel li:hover {
    background-color: var(--sbb-red);
}

.controlPanel li.disabled img {
    opacity: 0.3;
}

.controlPanel li img {
    width: 45px;
    height: 45px;
    filter: invert(1);
}

/*
 *  Sidebar
 */
#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 350px;
    height: 100%;
    padding: 10px;
    background-color: var(--sbb-light);
    border-right: 5px solid var(--sbb-dark);
    color: var(--sbb-dark);
    overflow-x: hidden;
    z-index: 10;
    transition: 0.3s;
}

#sidebar.closed {
    left: -350px;
    border-right: 0 solid var(--sbb-dark);
}

/*
 *  Sidebar / Logo
 */
#sidebar .logo {
    width: 100%;
    cursor: pointer;
}

#sidebar .logo img {
    display: block;
    width: 60%;
    margin: 10px auto 20px auto;
}

/*
 *  Sidebar / Menu Buttons
 */
#sidebar .buttons {
    position: fixed;
    top: 0;
    left: 345px;
    border-left: 5px solid rgba(0, 0, 0, 0);
    transition: 0.3s;
}

#sidebar.closed .buttons {
    left: 0;
    border-left: 0 solid var(--sbb-dark);
}

#sidebar .buttons ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#sidebar .buttons li.deselected {
    width: 45px;
    height: 45px;
    background-color: var(--sbb-dark);
    margin: 10px 0;
    transition: 0.07s;
}

/* Hovering over deselected button has same style as selected button */
#sidebar .buttons li.deselected:hover, #sidebar .buttons li.selected {
    width: 65px;
    padding-left: 10px;
    background-color: var(--sbb-red);
    cursor: pointer;
}

/* Toggle sidebar button has different margins */
#sidebar .buttons li:first-child {
    margin-top: 0;
    margin-bottom: 30px;
}

/* Switch arrow direction when sidebar is closed */
#sidebar.closed .buttons li:first-child img {
    transform: rotate(180deg);
}

/* Last button requires no margin at bottom */
#sidebar .buttons li:last-child {
    margin-bottom: 0;
}

#sidebar .buttons li img {
    width: 45px !important;
    height: 45px !important;
    filter: invert(1);
}

/*
 *  Sidebar / Welcome
 */
.welcome p {
    padding-right: 5px;
    font-size: 15px;
    text-align: justify;
}

.welcome table {
    width: 100%;
    margin-top: 30px;
}

.welcome img {
    margin-top: -5px;
    max-width: 95%;
}

.welcome td {
    padding: 10px 0;
    vertical-align: top;
}

.welcome td:nth-child(1) {
    width: 15%;
}

.welcome td:nth-child(2) {
    width: 85%;
}

/*
 *  Sidebar / Search
 */
.searchResults .count {
    margin: 5px 0;
    font-family: "SBB Web Bold", sans-serif;
    font-size: 19px;
}

.searchResults .searchItem {
    width: 100%;
    padding: 5px 0;
    border-top: 1px solid var(--sbb-dark);
    cursor: pointer;
}

.searchResults .searchItem:hover {
    background-color: var(--sbb-light-hov);
    font-family: "SBB Web Bold", sans-serif;
}

/*
 *  Sidebar / Options
 */
.options .tilePreview {
    margin: 10px 0;
    padding: 5px;
    background-color: var(--sbb-dark);
    color: var(--sbb-light);
    font-size: 16px;
    cursor: pointer;
}

/* Hovering over deselected tile layer has same style as selected tile layer */
.options .tilePreview.selected, .options .tilePreview:hover {
    background-color: var(--sbb-red);
}

.options .tilePreview img {
    width: 100%;
}

/*
 *  Global
 */
.hidden {
    display: none;
}



/*#########################################################
    LEAFLET
#########################################################*/

.tooltip {
    padding: 2px 10px;
    color: #FFF;
    background-color: var(--sbb-red);
    border: 0 solid var(--sbb-red);
    font-family: 'SBB Web Bold', sans-serif;
    font-size: 17px;
}



/*#########################################################
    MEDIA QUERIES
#########################################################*/

